./2.filter_and_count/filter_old/
.ipynb_checkpoints/
*.pkl
*.err
*.out
*.crc
*.tsv
*.parquet
__pycache__
3.5.add_TF_footprints/*_run/
5.graphs/logistic_regressions/model/
2.5.filter/filter.py
3.0.pleio_and_filter/pleio_and_filter.py
3.5.add_TF_footprints/add_tf.py