./0.merge/out/
./1.annotate/out_processed*
./2.filter_and_count/filter_old/
.ipynb_checkpoints/
./old/
*.pkl
*.err
*.out
__pycache__
1.annotate/first_run/
1.annotate/second_run/
1.annotate/third_run/
3.pleio_and_filter/pleio_and_filter.py
*.parquet
*.parquet.crc
old_runs/
2.0.annotate/*_run/
*.csv
3.5.add_TF_footprints/*_run/
5.graphs/logistic_regressions/model/
*.txt
*.tsv
*.vcf